@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Roboto', sans-serif;
}
@layer base {
  body {
    @apply bg-[#06202A] text-gray-300 min-h-screen;
  }
}
#root {
  @apply min-h-screen;
}
.lang {
  background-image: url('./assets/images/down-arrow.png');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 1rem;
}
.img-gradient {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  display: block;
  color: #fff;
  z-index: -1;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0,
    transparent 60%,
    rgba(0, 0, 0, 0.8)
  );
}
input {
  position: relative;
  padding: 0.85rem 1rem;
  width: 100%;
  color: #000;
}
input:focus::placeholder {
  position: absolute;
  top: 0px;
  z-index: 10;
  opacity: 1;
  font-size: 0.8rem;
  transition: 0.1s all ease-out;
}
input:focus {
  padding-top: 5px;
  outline: none;
  padding: 0.85rem 1rem;
  width: 100%;
}
input:not(:focus)::placeholder {
  transition: 0.1s all ease-in;
}
.img {
  position: relative !important;
}
.video {
  transform: translate(-50%, -50%);
}
.card {
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  box-shadow: 0 0 2em 0 #000;
  width: 70%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%);
  background-color: #000;
  background-size: cover;
}
.movies {
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  width: 90vw;
  max-width: 1170px;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.movie {
  position: relative;
  overflow: hidden;
}
.movie img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}
.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.6);
  transform: translateY(100%);
  transition: all 0.3s linear;
}
.movie-info h4 {
  color: #fff;
  margin-bottom: 0.25rem;
}
.movie-info p {
  margin-bottom: 0;
  color: #fff;
}
.movie:hover .movie-info {
  transform: translateY(0);
}
::-webkit-scrollbar {
  width: 0px;
}
.container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding: 20px 0;
}
.card {
  flex-shrink: 0;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-left: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
